._carouselSize {
  width: 100px;
  height: 100px;

}
._carouselBackgroundColor{
  color: grey;
  background-color: #eeeeee  !important;
}
._carouselImgSize
{
  float: right;
  width:800px;
  height:200px;
  text-align:center;
  max-width:100%;
  margin: 0px;
  border: 0px;
  padding-right:600px;

}

._carouselCaption
{

  padding-top: 0px;
  padding-bottom: 0px;
  padding-right:0px;
  padding-left: 0px;
}

