.dropdownText {
    position: relative;
    display: inline-block;
    width: 150px;
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.dropdownText-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownText:hover .dropdownText-content {
    display: block;
}

